<p>Hi <%= @user.username %></p>
<p>A new product <%= @product.name %> has been added to the database.</p>
<p><%= @product.price %> is the price of the product.</p>
<p><%= @product.description %> is the description of the prodcut.</p>


<p>Thank you for using our service.</p>